@media screen and (max-width: 1024px) {
  .main {
    flex-direction: column !important;
    width: 100% !important;
    .card {
      left: 40% !important;
      top: -115px !important;
      z-index: 2;
    }
  }
  .search-bar {
    // .btn {
    //   // left: 80% !important;
    //   // bottom: 448px !important;
    // }
    .p-inputtext {
      font-size: 18px !important;
    }
  }
  .gradieant {
    display: none;
  }
  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 0px;
    padding: 2rem;
    width: 100%;
    margin-left: 0px !important;
    .p-card {
      width: 270px;
      height: 400px;
    }
  }
  .sell {
    .beats {
      .p-card {
        .p-card-content {
          img {
            bottom: 70% !important;
          }
        }
      }
    }
    .beats::before {
      left: 50% !important;
    }
  }
  .revenue {
    margin-left: 60px !important;
    .revnue-cards {
      padding: 0px !important;
      margin-left: 110px;
      .green {
        margin-top: 30px;
        .p-card {
          .overlay {
            top: 60% !important;
          }
        }
      }
      .green::before {
        top: 0px !important;
        left: 200px !important;
      }
    }
    .sell-text {
      margin-left: 70px;
    }
  }
  .cards-bgimage {
    height: 100% !important;
    // margin-bottom: 350px !important;
    background-repeat: no-repeat;
  }
}

@media screen and (max-width: 768px) {
  .main {
    .card {
      left: 40% !important;
      top: -290px !important;
    }
    h1 {
      text-align: center;
    }
    .search {
      width: 100% !important;
      display: flex;
      justify-content: center;
    }
  }
  .revenue {
    margin-left: 0px !important;
    .revnue-cards {
      margin-left: 220px;
    }
  }

  .contact-us {
    .first {
      display: flex;
      justify-content: center;
    }
    .second {
      display: none;
    }
  }
}

@media screen and (max-width: 576px) {
  section {
    width: fit-content;
    .image {
      display: none;
    }
    .main {
      .card {
        left: 50% !important;
        top: 0px !important;
      }
      .text {
        margin-top: 300px !important;
      }
      .search-bar {
        .p-inputtext {
          font-size: 14px !important;
        }
        .btn {
          // bottom: 206px !important;
          .p-button-help {
            .pi {
              font-size: 10px !important;
            }
          }
        }
      }
    }

    .cards-bgimage {
      margin-bottom: 0px !important;
      display: flex !important;
      justify-content: center !important;
      height: fit-content !important;
      .cards {
        display: flex;
        justify-content: center;
        height: fit-content !important;
      }
    }
    .revenue {
      .revnue-cards {
        margin-left: 150px;
        .headphone,
        .chair {
          display: flex !important;
          justify-content: center !important;
        }
      }
    }
    .sell {
      .beats {
        justify-content: center !important;
        display: flex !important;
        .p-card {
          .p-card-content {
            img {
              left: -30px !important;
              width: 260px !important;
              height: 260px !important;
              bottom: 25% !important;
              left: 50% !important;
              transform: translate(-50%, -50%) !important;
            }
          }
        }
      }
      .minimal {
        justify-content: center !important;
        display: flex !important;
        margin-bottom: 130px;
        .p-card {
          .p-card-content {
            img {
              width: 260px !important;
              height: 260px !important;
              bottom: 1% !important;
              left: 50% !important;
              transform: translate(-50%, -50%) !important;
            }
          }
        }
      }
      .beats::before,
      .minimal::before {
        width: 250px !important;
        height: 250px !important;
        top: 50% !important;
        bottom: 50% !important;
      }
    }
    .contact-us {
      margin-bottom: 0px !important;
    }
  }
}
@media screen and (max-width: 425px) {
  section {
    .main {
      .card {
        left: 70% !important;
        transform: translateX(-50%) !important;
      }
      .search-bar {
        // .btn {
        //   bottom: 113px !important;
        //   transform: translateY(-100px);
        //   left: 72% !important;
        // }
      }
    }
    .sell {
      .chair,
      .headphone {
        justify-content: center;
        display: flex;
        margin-bottom: 170px;
      }
      .minimal {
        .p-card {
          .p-card-content {
            img {
              bottom: 30% !important;
            }
          }
        }
      }
      .minimal,
      .beats {
        .p-card {
          .p-card-content {
            img {
              height: 250px !important;
            }
          }
        }
      }
    }
    .revenue {
      margin-left: 0px !important;
      .sell-text {
        margin-left: 0px !important;
      }
      .revnue-cards {
        margin-left: 50px !important;
      }
    }

    .minimal::before,
    .beats::before {
      display: none;
    }
    .green::before,
    .blue::before {
      display: none;
    }
    .cards-bgimage {
      .cards {
        width: fit-content;
      }
    }
  }
}
