<section class="homePage w-100">
  <!-- Header -->
  <div class="header mt-3 mb-5 container">
    <div class="row justify-content-end">
      <div class="col-auto">
        <p-button label="Get Started Now" variant="text"></p-button>
      </div>
      <div class="col-auto">
        <p-button
          rounded="true"
          label="Login"
          [raised]="true"
          severity="contrast"
        ></p-button>
      </div>
    </div>
  </div>

  <!-- Main Section -->
  <div class="main container-fluid pb-5 mb-5">
    <div class="row">
      <!-- Image -->
      <div class="col-lg-6 col-md-12 mb-4 mb-lg-0">
        <div class="image blob position-relative">
          <img src="/person.png" alt="guy laughing" class="w-100" />
          <img
            src="/image.png"
            alt="guy laughing"
            class="w-100 position-absolute"
          />
        </div>
        <app-card
          class="position-absolute"
          [cardClass]="card"
          [hasAvatar]="true"
          [avatarUrl]="avatarUrl1"
          [title]="title1"
          [subTitle]="subTitle1"
        ></app-card>
      </div>
      <!-- Text and Search -->
      <div class="col-lg-6 col-md-12 align-self-center text">
        <h1 class="mb-4 fw-bold fs-1">
          We Help You
          <br />
          <span>Build & Grow an</span>
          <br />
          Online Business
        </h1>
        <div class="search-bar">
          <div class="row g-2 align-items-center search">
            <div class="col-12 col-md-12 d-flex search-bar-input">
              <input
                class="fs-5 w-50 position-relative"
                type="text"
                pInputText
                placeholder="Tell us what you need to build..."
              />
              <p-button
                icon="pi pi-search"
                severity="help"
                class="btn position-absolute"
              ></p-button>
            </div>
            <div></div>
          </div>
        </div>
        <div class="gradieant position-absolute"></div>
      </div>
    </div>
  </div>

  <!-- Companies Section -->
  <div class="companies mt-5 pt-5 mb-5 pb-5 bg-light">
    <div class="container">
      <div class="row text-center align-items-center pb-5 pt-5 mt-5 mb-5">
        <div class="col-6">
          <span class="companiesSpan fw-bold"
            >Companies we've helped build</span
          >
        </div>
        <div class="col-6 mt-4">
          <img
            class="img-fluid w-75"
            src="/Companies.png"
            alt="names of companies"
          />
        </div>
      </div>
    </div>
  </div>

  <!-- Sell Stunning Products Section -->
  <div class="sell container mt-5 pt-5 mb-5 pb-5">
    <div class="row align-items-center">
      <!-- Text Content -->
      <div
        class="col-lg-4 col-md-12 text-center text-lg-start mb-5 pb-5 mb-lg-0"
      >
        <div class="sell-text">
          <h4 class="text-uppercase mb-3 pb-3">we help you</h4>
        </div>
        <h1>
          Sell
          <br />
          Stunning
          <br />
          Products
        </h1>
        <p class="mt-2 pt-2">
          We'll guide you through our unique 5-step <br />
          brand-building framework
        </p>
        <p-button
          class="mt-3 moreBtn"
          label="More Details"
          iconPos="right"
          severity="help"
          icon="pi pi-angle-right"
          rounded="true"
        ></p-button>
      </div>
      <!-- Product Cards -->
      <div class="col-lg-8 col-md-12 mt-5 pt-5 pb-3 mb-3">
        <div class="row g-4">
          <div class="col-12 col-md-6 col-lg-6 col-sm-4 chair">
            <app-card
              class="position-relative"
              [cardClass]="minimalClass"
              [minimal]="true"
              [image]="minimalImage"
              [money]="minimalMoney"
              [minimalTitle]="minimalTitle"
              [moneyP]="minimalSubtitle"
            ></app-card>
          </div>
          <div class="col-12 col-md-6 col-lg-6 mt-5 col-sm-4 headphone">
            <app-card
              class="position-relative"
              [cardClass]="beatsClass"
              [minimal]="true"
              [image]="beatsImage"
              [money]="beatsMoney"
              [minimalTitle]="beatsTitle"
              [moneyP]="beatsSubtitle"
            ></app-card>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Testimonials Section -->
  <div class="cards-bgimage d-flex mb-sm-5 pb-sm-5 justify-content-center">
    <div
      class="cards container mt-5 pt-5 row row-cols-4 row-cols-md-2 row-cols-lg-5 g-4"
    >
      @for (card of Testimonilas; track card.title) {
      <div class="col w-100">
        <app-card
          class="h-100"
          [cardClass]="TestimonialsClass"
          [hasImage]="true"
          [image]="card.image"
          [title]="card.title"
          [subTitle]="card.subTitle"
        ></app-card>
      </div>
      }
    </div>
  </div>

  <!-- Revenue Section -->
  <div
    class="revenue container mt-5 justify-content-between pt-5 mb-5 pb-5 row align-items-center"
  >
    <!-- Revenue Cards -->
    <div class="revnue-cards col-lg-6 col-md-12 d-flex flex-column gap-5">
      <!-- Blue Card -->
      <div class="blue position-relative">
        <div class="wavy-line">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 500 100"
            preserveAspectRatio="none"
          >
            <path
              d="M0,50 C150,0 350,100 500,50"
              fill="none"
              stroke="#61c8f6"
              stroke-width="3"
            ></path>
          </svg>
        </div>
        <app-card
          class="d-flex flex-column gap-2"
          [cardClass]="blueClass"
          [hasAvatar]="true"
          [hasOverlay]="true"
          [avatarUrl]="avatarUrl1"
          [hasWavy]="false"
          [revenue]="true"
          [blue]="true"
          [revenuetitle]="revnueTitleB"
          [revenuesubTitle]="revenueSubtitleB"
          [revenueh2]="revenueh2"
        ></app-card>
      </div>

      <!-- Green Card -->
      <div class="green position-relative">
        <div class="wavy-line-green">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 500 100"
            preserveAspectRatio="none"
          >
            <path
              d="M0,50 C100,0 200,100 300,50 C400,0 500,100"
              fill="none"
              stroke="#4ee5a3"
              stroke-width="3"
            ></path>
          </svg>
        </div>
        <app-card
          class="d-flex flex-row-reverse gap-2"
          [cardClass]="greenClass"
          [hasAvatar]="false"
          [hasOverlay]="true"
          [avatarUrl]="avatarUrl1"
          [hasWavy]="false"
          [revenue]="true"
          [green]="true"
          [revenuetitle]="revnueTitleG"
          [revenuesubTitle]="revenueSubtitleG"
          [revenueh2]="revenueh2"
        ></app-card>
      </div>
    </div>

    <!-- Sell Section -->
    <div class="sell col-lg-6 col-md-12 text-center text-lg-start mt-5 mt-lg-0">
      <div class="sell-text">
        <h4 class="text-uppercase mb-3 pb-3">What we do</h4>
        <h1>
          Increase Our
          <br />
          Customers
          <br />
          Sales
        </h1>
        <p class="mt-2 pt-2">
          Our customers are seeing big results within <br />
          the first three months
        </p>
        <p-button
          class="moreBtn mt-3"
          label="More Details"
          iconPos="right"
          severity="help"
          icon="pi pi-angle-right"
          rounded="true"
        ></p-button>
      </div>
    </div>
  </div>

  <!-- Contact Us Section -->
  <div class="bg-img container">
    <div class="contact-us mt-5 pt-5 mb-5 pb-5 row align-items-center">
      <!-- Contact Form -->
      <div class="col-lg-6 col-md-12 mb-4 mb-lg-0 first">
        <form [formGroup]="contact">
          <p-card>
            <ng-template #header>
              <h3>Write Us</h3>
            </ng-template>

            <p-floatlabel class="mb-5">
              <input
                pInputText
                id="email"
                formControlName="email"
                autocomplete="off"
                class="w-100 p-0"
              />
              <label for="over_label">Email</label>
            </p-floatlabel>
            <textarea
              placeholder="Enter Your Message"
              rows="5"
              cols="30"
              pTextarea
              formControlName="message"
            ></textarea>

            <ng-template #footer>
              <div class="d-flex gap-4 mt-3">
                <p-button
                  (onClick)="onSubmit()"
                  label="SEND YOUR MESSAGE"
                  severity="help"
                  class="w-100"
                  [outlined]="true"
                  styleClass="w-100"
                  [disabled]="contact.invalid"
                  [rounded]="true"
                ></p-button>
              </div>
            </ng-template>
          </p-card>
        </form>
      </div>

      <!-- Background Image -->
      <div class="col-lg-6 col-md-6 text-center second">
        <img class="img-fluid w-75" src="/laugh.png" alt="laughing guy" />
      </div>
    </div>
  </div>
</section>
