@import url(../../@media.scss);
section {
  .header {
    .p-button {
      .p-button-contrast {
        background: var(--p-surface-100) !important;
      }
    }
    .p-button-contrast {
      background: var(--p-surface-100) !important;
    }
    .p-button-text:not(:disabled):hover {
      background: var(--mo-warning-border-subtle) !important;
    }
    .p-button-text {
      color: var(--p-surface-800) !important;
      text-decoration: underline;
    }
  }
  .main {
    .blob {
      img {
        left: 0px;
        z-index: -1;
      }
    }
    .search-bar {
      .p-inputtext {
        background: var(--p-surface-0) !important;
        color: black !important;
        padding: 10px;
        border-radius: 15px !important;
        caret-color: #714bec;
      }
      .p-inputtext:enabled:focus {
        border-color: var(--mo-warning-border-subtle) !important ;
      }
      .btn {
        background: #714bec !important;
        padding: 2px;
        right: 0;
        bottom: 3px;
        border-radius: 15px;
        .p-button-help {
          background: #714bec !important;
          border: 1px solid #714bec !important;
          color: var(--p-button-help-hover-color);
          .pi {
            font-size: 15px;
            font-weight: 500;
            color: white;
          }
        }
      }
    }
    .card {
      left: 80%;
      top: -115px;
      z-index: 2;
      .p-card {
        width: 280px;
        height: 280px;
        display: flex;

        p {
          font-weight: 600;
          font-size: 20px;
        }
        span {
          color: var(--p-card-subtitle-color);
        }
      }
      .overlay {
        top: 33%;
        left: 50%;
      }
    }
    .p-avatar-xl {
      width: 8rem !important;
      height: 8rem !important;
      padding: 20px;
    }

    .gradieant {
      height: 430px;
      width: 250px;
      background-repeat: no-repeat;
      background-image: url(../../../public/Untitled.png);
      top: 360px;
      left: 80%;
    }
  }
  .companiesSpan {
    color: #797b8b;
  }
  .sell {
    .sell-text {
      h4 {
        color: #f5d734;
      }
    }
    .minimal {
      margin-top: 150px;
      .p-card {
        width: 225px;
        height: 200px;
        .p-card-content {
          img {
            height: 300px;
            bottom: 70%;
            left: -30px;
          }
          p {
            color: #f5d734;
            font-weight: bold;
            margin-bottom: 0;
            span {
              font-weight: lighter;
            }
          }
          .p-card-body {
            .p-card-title {
              span {
                font-weight: bold;
              }
            }
            gap: 20px;
            padding-bottom: 0px;
          }

          .p-button {
            background-color: transparent;
            color: black;
            border-color: transparent;
            padding: 0;
            .pi {
              color: black;
            }
          }
        }
      }
    }
    .beats {
      .p-card {
        width: 225px;
        height: 200px;
        margin-top: 150px;
        .p-card-content {
          img {
            height: 300px;
            width: 300px !important;
            bottom: 50%;
            left: -10px;
          }
          p {
            color: #f5d734;
            font-weight: bold;
            margin-bottom: 0;
            span {
              font-weight: lighter;
            }
          }
          .p-card-body {
            .p-card-title {
              span {
                font-weight: bold;
              }
            }
            gap: 20px;
            padding-bottom: 0px;
          }

          .p-button {
            background-color: transparent;
            color: black;
            border-color: transparent;
            padding: 0;
            .pi {
              color: black;
            }
          }
        }
      }
    }
    .minimal::before {
      content: "";
      position: absolute;
      top: 2%;
      left: 32%;
      transform: translate(-50%, -50%);
      width: 300px;
      height: 300px;
      border-radius: 50%;
      background-color: #f5d734;
      z-index: -1;
    }
    .beats::before {
      content: "";
      position: absolute;
      top: 0;
      left: 35%;
      transform: translate(-50%, -50%);
      width: 300px;
      height: 300px;
      border-radius: 50%;
      background-color: #4834d0;
      z-index: -1;
    }
  }
  .cards-bgimage {
    background-image: url(../../../public/image.png);
    height: 620px;
    margin-bottom: 300px;

    .cards {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      gap: 1.5rem;
      padding: 2rem;
      .p-card {
        background: white;
        border-radius: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        text-align: left;
        padding: 1rem;
        // width: 400px;
        // height: 400px;
        p {
          font-size: 1rem;
          font-weight: 500;
        }
        span {
          font-size: 14px;
          color: var(--p-card-subtitle-color);
        }
        img {
          width: 100%;
          height: 150px;
          border-bottom: 1px solid #eaeaea;
          border-radius: 5px;
        }
      }
    }
  }
  .revenue {
    margin-left: 260px;
    .revnue-cards {
      .p-avatar-image {
        background: #fff2f0 !important;
        position: relative;
      }
      width: fit-content;
      .p-card {
        display: flex;
        flex-direction: row;
        padding: 10px;
        .p-card-content,
        .p-card-header {
          .p-avatar-xl {
            width: 6rem !important;
            height: 6rem !important;
            padding: 20px;
          }
          .p-avatar-image {
            background: #f7f5f6 !important;
            position: relative;
          }
        }
        .p-card-content {
          display: flex;
          flex-direction: row;
        }
        .money {
          h2 {
            i {
              background-color: #903aff;
              border-radius: 50%;
              color: white !important;
              font-size: 13px !important;
            }
          }
          p {
            font-size: 13px;
            span {
              color: #4ee5a3;
            }
          }
        }
      }
      .blue .p-card {
        .overlay {
          top: 44%;
          left: 20%;
          width: 80px;
          height: 80px;
        }
      }
      .green .p-card {
        .overlay {
          top: 50%;
          left: 75%;
          width: 80px;
          height: 80px;
        }
      }
      .blue::before {
        content: "";
        position: absolute;
        width: 150px;
        height: 150px;
        background: #61c8f6;
        border-radius: 50%;
        top: -30px;
        left: -70px;
        z-index: -1;
      }
      .green::before {
        content: "";
        position: absolute;
        width: 150px;
        height: 150px;
        background: #4ee5a3;
        border-radius: 50%;
        top: -30px;
        left: 220px;
        z-index: -1;
      }
      .wavy-line {
        position: absolute;
        width: 100%;
        height: 100px;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        pointer-events: none;
        transform: rotate(160deg);
        .wavy-line svg {
          width: 100%;
          height: 100%;
        }
      }

      .wavy-line-green {
        position: absolute;
        width: 120%;
        height: 100px;
        top: 70%;
        left: -170px;
        transform: translateY(-50%);
        pointer-events: none;
        transform: rotate(160deg);
      }
    }
  }
  .contact-us {
    form {
      .p-card {
        width: 100%;
        padding: 15px;
        .p-inputtext {
          padding-block: 5px !important;
          font-size: 15px !important;
          background-color: white;
          color: black;
        }
        .p-floatlabel label {
          color: black !important;
        }
        .p-inputtext:enabled:focus {
          border-color: #4834d0 !important;
        }
        .p-textarea {
          background-color: white;
          color: black;
          caret-color: #4834d0 !important;
          width: 100%;
        }
        .p-textarea:enabled:focus {
          border-color: #4834d0 !important;
        }
        .p-button-help {
          background-color: #4834d0;
          color: white !important;
        }
      }
    }
  }

  .bg-img {
    background-image: url(../../../public/image.png);
  }
}
