.p-button-contrast {
  background: var(--p-surface-100) !important;
}
.p-button-text {
  color: var(--p-surface-800) !important;
  text-decoration: underline;
}
.p-button-text:not(:disabled):hover {
  background: var(--mo-warning-border-subtle) !important;
}
.blob {
  height: 615px;
  width: 960px !important;
  background-image: url(../../../public/image.png);
}
h1 {
  font-weight: 700;
  font-size: 4.5rem;
}
.p-inputtext {
  background: var(--p-surface-0) !important;
  width: 540px;
  padding-block: 25px !important;
  font-size: 25px !important;
  color: black !important;
  border-radius: 15px !important;
  caret-color: #714bec;
}
.p-inputtext:enabled:focus {
  border-color: var(--mo-warning-border-subtle) !important ;
}
.btn {
  background: #714bec !important;
  right: 15px;
  bottom: 15px;
  border-radius: 15px;
}
.p-button-help {
  background: #714bec !important;
  border: 1px solid #714bec !important;
  color: var(--p-button-help-hover-color);
}
.pi {
  font-size: 20px !important;
  font-weight: 500;
  color: var(--mo-body-bg);
}
.gradieant {
  position: absolute;
  height: 430px;
  width: 250px;
  background-image: url(../../../public/Untitled.png);
  top: 435px;
  left: 80%;
  right: 0%;
  z-index: -9;
}
.card {
  left: 20%;
  bottom: 0%;
}
.p-card {
  background: var(--p-surface-0) !important;
  color: black !important;
  width: 280px;
  height: 280px;
  display: flex;
  justify-content: center;
  text-align: center;
}
.p-avatar-xl {
  width: 8rem !important;
  height: 8rem !important;
  padding: 20px;
}
.p-avatar-image {
  background: #fff2f0 !important;
  position: relative;
}
.overlay {
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 110px;
  height: 110px;
  border: 3px solid purple;
  border-radius: 50%;
  border-bottom: none;
  border-left: none;
  border-top: none;
}
.companiesSpan {
  color: #797b8b;
}
.sell-text {
  h4 {
    color: #f5d734;
  }
}
.moreBtn {
  color: white;
  .pi {
    color: #714bec;
    background-color: var(--mo-body-bg);
    border-radius: 50%;
    padding: 6px;
    font-size: 25px !important;
    text-transform: uppercase;
  }
  .p-button-help {
    background: linear-gradient(to right, #4834d0, #903aff) !important;
  }
  .p-button-label {
    padding: 10px 35px !important;

    color: white;
    text-transform: uppercase;
  }
  .p-button-rounded {
    border-radius: 25px !important;
  }
}
.minimal {
  margin-top: 150px;
  .p-card {
    width: 225px;
    height: 200px;
    .p-card-header {
      img {
        bottom: 87%;
        left: -10px;
      }
    }
    .p-card-body {
      .p-card-title {
        span {
          font-weight: bold;
        }
      }
      gap: 20px;
      padding-bottom: 0px;
    }
    .p-card-footer {
      p {
        color: #f5d734;
        font-weight: bold;
        margin-bottom: 0;
        span {
          font-weight: lighter;
        }
      }
      .p-button {
        background-color: transparent;
        color: black;
        border-color: transparent;
        padding: 0;
        .pi {
          color: black;
        }
      }
    }
  }
}
.minimal::before {
  content: "";
  position: absolute;
  top: 2%;
  left: 32%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: #f5d734;
  z-index: -1;
}
.beats {
  margin-top: 260px;
  .p-card {
    width: 225px;
    height: 200px;
    .p-card-header {
      img {
        bottom: 87%;
        left: -10px;
      }
    }
    .p-card-body {
      .p-card-title {
        span {
          font-weight: bold;
        }
      }
      gap: 20px;
      padding-bottom: 0px;
    }
    .p-card-footer {
      p {
        color: #f5d734;
        font-weight: bold;
        margin-bottom: 0;
        span {
          font-weight: lighter;
        }
      }
      .p-button {
        background-color: transparent;
        color: black;
        border-color: transparent;
        padding: 0;
        .pi {
          color: black;
        }
      }
    }
  }
}
.beats::before {
  content: "";
  position: absolute;
  top: -40%;
  left: 56%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: #4834d0;
  z-index: -1;
}
